.alert-info {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 16px;
    margin: 0;
    border: 1px solid #f6eaf7;
    text-align: center;
    font-weight: bold;
}
.hidden-on-desktop {
    color: black;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    text-align: center;
}
nav {
    width: 100%;
    padding: 0px;
    margin: 0;
    border: 5px solid green;
    background-color: white;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: underline;
    width: 85%;
    padding: 1em;
    margin: 20px;
    background-color: rgb(204	204	204	);

}
img {
    position: center;
    margin-top: 10px;
    padding: 0px;
    width: 339px;
    height: 224px;
}
.sub-section {
    padding: 0px;
    margin-top: 50px;
}
footer {
    margin-top: 100px;
}